/*fonts*/
@font-face {
    font-family: 'ostrich_sansbold';
    src: url('../fonts/ostrich-bold-webfont.eot');
    src: url('../fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrich-bold-webfont.woff') format('woff'),
         url('../fonts/ostrich-bold-webfont.ttf') format('truetype'),
         url('../fonts/ostrich-bold-webfont.svg#ostrich_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*fonts END*/

/*full page layout*/
html
{
	height: 100%;
	width: 100%;
}
body
{
	background: #DAE5E5;
	margin-left: 10px;
	margin-right: 10px;
	height: 100%;
	width: 100%;
}
.page-wrap
{
    height: 100%;
    max-width: 600px;
}
.center 
{
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform:translate(-50%, -50%);
  	-webkit-transform:translate(-50%, -50%);
  	-moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
}
/*full page layout ENDS*/

/*text style & layout*/
.mainhead
{
	font-size: 111px;
	font-family: 'ostrich_sansbold';
	margin: 0;
	color: #476E6E;
}
.subhead
{
	font-size: 31px;
	font-family: 'open_sanslight';
	margin-top: 0;
	text-align: left;
	margin-left: 2px;
	color: #476E6E;
	padding-bottom: 10px;
}
.contact
{
	font-size: 22px;
	font-family: 'open_sanslight';
	color: #476E6E;
	margin-bottom: 0;
	text-align: center;
}
/*text style & layout END*/

/*social media icons*/
.icons
{
	max-width: 350px;
	margin: 25px auto 25px;
}
.social
{
	text-align: justify;
}
.stretch {
    width: 100%;
    display: inline-block;
}
ul 
{
	padding: 0;
}
.social ul li a
{
	text-decoration: none;
	display: inline-block;
	font-size: 42px;
	color: #F3FFFF;
}
.social ul li a i:hover 
{
	color: #476E6E;
}
/*social media icons END*/

/*responsive design for tablet & mobile*/
@media (min-width: 677px) and (max-width: 1197px) {
	.contact {
		text-align: left;
	}
	.icons {
		margin: 0;
	}
	.social ul li i {
		text-align: justify;
	}
}
@media (max-width: 677px) {
	.mainhead {
		font-size: 80px;
	}
	.subhead {
		font-size: 26px;
		font-weight: bold;
	}
	.contact {
		font-size: 20px;
		text-align: left;
		font-weight: bold;
	} 
	.social ul {
		text-align: left;
	}
	.social ul li i {
		font-size: 38px;
		margin-top: 0;
	}
}
/*responsive design for tablet & mobile ENDS*/

/*view style sheets for mobile and monitor responsive designs*/
